.footer-container
{
    display:flex;
    width:100%;

    background-color: #FAFAFA;

    box-shadow: 0px 2px 10px 2px rgba(135, 135, 135, 0.66);

    padding: 2px 2px;
    z-index: 1;
    flex-wrap: wrap;
}

#name
{
    flex:1 1 90%;
}

.footer-item
{
    font-size:100%;
    display:flex;
    align-items: center;
    color:#6e6e6e;
    font-weight: 550;
}

.link-container
{
    justify-content: end;
    flex:1 1 10%;
}

.link
{
    color:#6e6e6e;
    font-weight: 550;
}

.link-img
{
    margin-right: 5px;
    display: inline;
}

@media (max-width:600px)
{
    .name, .link-container
    {
        flex:1 1 100%;
        align-self: center;
    }

    .footer-item
    {
        align-items: start;
        justify-content: start;
    }
}