#archivo serverless
*.serverless/*
#prueba cognito
PruebaLoginCognito/
# Estado de Terraform
*.tfstate
*.tfstate.*
# Lock file local
.terraform.lock.hcl
.terraform/
Backend_node/tf-outputs.json

Backend_node/node_modules
*node_modules/*