name: Serverless

on:
  workflow_dispatch:

  push:
    branches: [main]

jobs:
  deploy-serverless:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./Backend_node

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Install Serverless v3
        run: npm install -g serverless@3

      - name: Deploy with Serverless
        run: serverless deploy --verbose
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
