name: Terraform CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Backend_node/infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Create backend.tf
        run: |
          cat > backend.tf << EOF
          terraform {
            backend "remote" {
              organization = "${{ secrets.TF_CLOUD_ORGANIZATION }}"

              workspaces {
                name = "${{ secrets.TF_CLOUD_WORKSPACE }}"
              }
            }
          }
          EOF
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.8

      - name: Configure Terraform Cloud credentials
        run: |
          mkdir -p ~/.terraform.d
          cat > ~/.terraform.d/credentials.tfrc.json <<EOF
          {
            "credentials": {
              "app.terraform.io": {
                "token": "${{ secrets.TF_TOKEN_app_terraform_io }}"
              }
            }
          }
          EOF
          
      - name: Terraform Init
        run: terraform init
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_TOKEN_app_terraform_io }}
          TF_CLOUD_ORGANIZATION: ${{ secrets.TF_CLOUD_ORGANIZATION }}
          TF_CLOUD_WORKSPACE: ${{ secrets.TF_CLOUD_WORKSPACE }}

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Upload terraform plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ./Backend_node/infra/tfplan
