name: Terraform CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main] 

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./Backend_node
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Plan
        run: terraform plan
