name: Terraform CI

on:
  workflow_dispatch:

  push:
    branches: [main]

  pull_request:
    branches: [main] 

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./Backend_node
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
