name: Terraform CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  terraform-ci:
    runs-on: ubuntu-latest

    steps:
      # ---------------------------
      # CHECKOUT
      # ---------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # ---------------------------
      # TERRAFORM
      # ---------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # ---------------------------
      # TERRAFORM CHECKS
      # ---------------------------
      - name: Terraform fmt (check)
        working-directory: ./Backend_node/infra
        run: terraform fmt -check -recursive || true

      - name: Terraform Init
        working-directory: ./Backend_node/infra
        run: terraform init

      - name: Terraform Validate
        working-directory: ./Backend_node/infra
        run: terraform validate

      - name: Terraform Plan
        working-directory: ./Backend_node/infra
        run: terraform plan -out=tfplan

      # ---------------------------
      # UPLOAD PLAN ARTIFACT
      # ---------------------------
      - name: Upload terraform plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: Backend_node/infra/tfplan
